<div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Hospital registration</h3>
  
                  <div class="row">
                    <div class="col-sm-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.hospitalName"  id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">Hospital Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.hospitalContactNo" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Contact no</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <span class="border m-3">
                    <div class="card-body">
                        <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.hospitalOwnerName" id="form3Example1m1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m1">Owner's name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.hospitalOwnerContactNo" id="form3Example1n1" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n1">Owner's Contact no</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <input  type="text" [(ngModel)]="hospitalObj.hospitalEmailId" id="form3Example1n1" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Example1n1">Owner's Email</label>
                        </div>
                      </div>
                  </div>
                </div>
            </span>
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.hospitalCity" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">City</label>
                      </div>
                    </div>
                    <div class="col-md-8 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.hospitalAddress" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Address</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="text" [(ngModel)]="hospitalObj.userName" id="form3Example1m" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">User Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div data-mdb-input-init class="form-outline">
                        <input  type="password" [(ngModel)]="hospitalObj.password" id="form3Example1n" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Password</label>
                      </div>
                    </div>
                  </div>
  
                  
  
                  <div class="d-flex justify-content-end pt-3">
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset all</button>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2" (click)="onRegister">Register</button>
                  </div>
  
                </div>